* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
.body,
footer {
  background-color: #1f2937;
  color: white;
}
.header {
  padding-top: 15px;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.body {
  padding: 120px;
  display: flex;
}
.body-left-section {
  width: 50%;
  padding-right: 100px;
}
.body-left-section h1 {
  padding-bottom: 10px;
  font-size: 48px;
  font-weight: 900;
}
.body-left-section button,
.call-to-action button {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: #3882f6;
  transition: transform 100ms ease-in-out;
}
.body-left-section button:hover,
.call-to-action button:hover {
  transform: scale(1.1);
}
.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50%;
  height: 200px;
  margin: auto;
  background-color: gray;
}
.random-info h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.random-info-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  margin-bottom: 100px;
}
.sections div {
  justify-content: space-around;
  border: 5px solid #3882f6;
  border-radius: 15px;
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}
.inspirational-quote {
  color: #1f2937;
  padding: 100px;
  height: 400px;
  background-color: #e5e7eb;
}
.inspirational-quote h1 {
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.inspirational-quote h3 {
  font-weight: 900;
  font-size: 25px;
  text-align: right;
  padding-top: 25px;
  padding-right: 200px;
}
.call-to-action {
  color: white;
  background-color: #3882f6;
  margin: 100px 200px;
  padding: 50px 150px 50px 150px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
footer {
  text-align: center;
  display: flex;
  margin-bottom: 10px;
  height: 50px;
  font-family: monospace;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  gap: 10px;
}
footer img:hover {
  transform: scale(1.4);
}
/* Mobile view */
@media screen and (max-width: 500px) {
  .header {
    padding-top: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header ul {
    display: inline-block;
  }
  .body {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-left-section {
    width: 100%;
    padding-right: 100px;
  }
  .body-left-section button,
  .call-to-action button {
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
    transition: transform 100ms ease-in-out;
  }
  .body-left-section button:hover,
  .call-to-action button:hover {
    transform: scale(1.1);
  }
  .img-placeholder {
    display: bl;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: auto;
    background-color: gray;
  }
  .random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .random-info h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  .random-info-boxes {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .random-info-boxes p {
    margin-bottom: 10px;
  }
  .sections div {
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
  }
  .inspirational-quote {
    display: none;
    display: in;
    flex-direction: column;
    color: #1f2937;
    background-color: #e5e7eb;
  }
  .inspirational-quote h1 {
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
  }
  .inspirational-quote h3 {
    font-weight: 900;
    font-size: 25px;
    text-align: right;
  }
  .call-to-action {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #3882f6;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    height: 150px;
  }
  footer {
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    height: 50px;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    gap: 10px;
  }
  footer img:hover {
    transform: scale(1.4);
  }
}
